* {
    box-sizing: border-box;
   
}
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(233, 244, 255);
    text-transform: uppercase;
}

.box {
    width: 200px;
    height: 50px;
    margin: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgb(252, 249, 210);
    outline: 0;
}
.paper{
    background-image: url('../images/paper.jpg');  
    
}
.stone {
    background-image: url('../images/stone.jpg');
  
}
.scissors {
    background-image: url('../images/scissors.jpg');
}
.buttons{
    text-align: center;
    display: flex;
   justify-content: center;
    .images{
        height: 80px;
        width: 80px;
        background-size: cover;
        border: 5px solid black;
        border-radius: 20px;
        margin: 10px;
        text-decoration: none;
        outline: 0;
        &:hover {
            transform: scale(1.2);
        }
       
    }
 
}
.result{    
    .heading{
        font-size: 20px;
        text-align: center;
        line-height: 25px;
        font-family: 'Baloo Bhaina 2';
    }
    table {
        margin: 20px auto;
        text-align: center;
        font-size: 22px;
        line-height: 25px;
        th, td{
            width: 120px;
        }
        td {
            color: rgb(51, 62, 163);
            font-weight: bold;
            padding: 15px 0;
            font-size: 30px;
        }
    }
    .game-table{
        border-collapse: collapse;
       td{
           color: rgb(87, 46, 46);
           font-size: 18px;
           padding: 5px 0;
           border-bottom: 1px solid black;
        
       }
    }
}
 
.main-button {
    text-align: center;
    .box-number{
        font-size: 25px;
        color: rgb(0, 0, 0);
        padding: 10px;
        span{
            color: rgb(202, 96, 96);
            font-size: 35px;
        }
    }
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(252, 249, 210);
    margin-top: 40px;
    font-weight: bold;
}
